# mongod.conf
sharding:
  configDB: rsdo-conf/192.168.121.9:27017,192.168.121.10:27017,192.168.121.11:27017
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log
net:
  port: 27017
  bindIp: 127.0.0.1,{{ hostvars[inventory_hostname]['ansible_host'] }}
security:
  keyFile: /var/mongodb/pki/keyfile

