<h1>Welcome to Polynotes {{ username }} !</h1>

<p>One last step before you can use the website...</p>

<p>Click <a href="{{ link }}">here</a> to validate your email.</p>

<p>If you did not request this email you can safely ignore it.</p>
